<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HTML5">
  <meta name="author" content="Author">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Memory statistics</title>
  <link rel="stylesheet" href="/assets/style.css">
  <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>
<body>
<h1>{{ statname | title }} Stats:</h1>
  <span>Available memory: {{ '{:.2f}'.format(mem['free'] / (1024 ** 2)) }} / {{ '%.2f' | format(mem['total'] / (1024 ** 2)) }} MiB</span>
    <div class="progress-bar">
      <div class="progress"></div>
      <div class="percentage">0%</div>
    </div>
<script src="{{ url_for('assets.static', filename='script.js') }}"></script>

  <style>
    .percentage {
      position: absolute;
      left: 50%;
      right: 50%;
      z-index: 2;
      color: black;
      top: 10px;
    }

    .progress-bar {
      width: 100%;
      height: 40px;
      background-color: #f2f2f2;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
    }

    .progress {
      height: 100%;
      background-color: #007bff;
      width: 0;
      transition: all ease-in-out 0.5s;
    }
  </style>
</body>
</html>