{% extends 'base.html' %}

{% block content %}
<form action="/save_post" method="POST">

    <div class="mb-3">
        <label for="post_header_input" class="form-label">Post name</label>
        <input type="text" name="post_header" class="form-control" id="post_header_input">
    </div>


    <div class="mb-3">
      <label for="post_text_input" class="form-label">Text</label>
      <textarea type="textarea" name="post_text" class="form-control" id="post_text_input"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}